/*GLOBAL*/

#spacer {
	height:22vh;
}
#sidebar a {
	color:grey;
}
#content {
	width:100%;
	height:100vh;
	margin:auto;
	transition:0.2s;

}

.title{
	width:100%;
	color:white;
	background-color:rgba(0,0,0,0.88);
	height:90px;
	text-align:center;
	padding:2px;

}

#footer{
	width:100%;
	color:black;
	background-color:black;
	height:40px;
	text-align:right;
	padding:0.2px;
	bottom:0;
	color:white;
}

h2 {
	font-size:10px;
	font-weight:300;
	margin-right:20px;
}

h1{
	font-size:60px;
	margin:0px;
}

h4{
	font-size:15px;
	display:inline;
	margin-top:0;
	margin-left:10px;
	margin-right:10px;
	background:grey;
	transition:0.2s;
}

#menu a {
	color:white;
}

h4:hover{
	background:lightgrey;
	color:black;
	cursor:pointer;
}

#menu{
	width:100%;
	color:white;
	background-color:rgba(0,0,0,0.88);
	height:110px;
	text-align:center;
	padding:2px;
	position:fixed;
	transition: top 0.5s;
	top:0;
	transition-timing-function: ease-out;

}


.contentBoxH {
	width:80%;
	margin:auto;
	padding-top:1vw;
	text-align:center;
	display:block;
	margin-top:0vw;
}

.contentBox {
	width:50%;
	margin:auto;
	padding-top:0vw;
	text-align:center;
	display:block;
	margin-top:0vw;
}



#image_bg{


}
#home_bg{



}
#video_bg{
	background:#101820FF;
	background-attachment: fixed;
	margin-bottom:1vw;
	border-radius:60px 60px 20px 20px;
	padding-bottom:1vw;
	margin-top:1vw;
	width:60%;

}
#web_bg{

	width:60%;
}

#images{
	background:white;
	background-image:url('img/logos.png');
	background-position:right;
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-size:10%;
	transition:max-height 2s;
}

#img1{
	max-height:10000px;
}

#img1.collapsed{
	max-height:0px;
}




#video{
	background:#E94B3CFF;
	background-image:url('img/vid.png');
	background-position:right;
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-size:10%;


}

#images3{
	background:white;
	background-image:url('img/photo.png');
	background-position:right;
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-size:10%;
	


}

#images2{
	background:#aebecf;
	background-image:url('img/art.png');
	background-position:right;
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-size:10%;
}

#home{
	background:#4B878BFF;


}

#web{
	background:#4B878BFF;
	background-image:url('img/web.png');
	background-position:right;
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-size:10%;


}




#home, #video, #images, #web, #images2, #images3 {
	margin-top:0vh;
	overflow:hidden;
}





/*HOME*/

#des, #mit{
	transition:0.2s;
}

#pp {
	text-align:left;
	font-size:13px;
	margin-right:;
	margin-bottom:0px;


}

#pp_parent{
	background-color:white;
	border-radius:50px;
	padding:30px;
	margin:auto;

}

#meP {
	padding-top:90px;
	padding-bottom:2vw;
	text-align:center;
	width:800px;
	margin:auto;
	overflow: hidden;
	margin-top:70px;

}

/*#textback {
	background-color:#919191;
	height:100%;
	width:600px;
	border-radius:50px 0px 0px 0px;
	margin-top:-270px;
	}*/

	#face {
		float:right;
		height:400px;
		clear:left;
		margin-top:-75px;
	}

	#meP button {
		height:30px;
		text-align:left;
		border-radius:20px;
		cursor:pointer;
		outline:none;
		margin-left:10px;
		margin-bottom:10px;
		border-style:solid;
		border-color:black;
		border-width:2px;
		background-color:#f7f7f7; 
		transition:0.2s;
		transition-timing-function: ease-in-out;

	}

	a{
		text-decoration:none;
	}

	#meP button:hover {
		background-color:#89c48b;
		color:white;
	}

	button p {
		font-size:12px;
		float:right;
		line-height:0px;
	}

	button img {
		margin-right:5px;
		height:20px;
		float:left;
		margin-top:2px;
	}

	.short {
		display:none;
	}

	.web_preview{
		width:100%;
		height:9vw;
		border-radius:40px 40px 40px 40px;
		margin-left:-1vw;
		margin-right:auto;
		margin-top:0vw;
		margin-bottom:6vw;
		background-color:#89c48b;
		background-size:100%;
		background-position:center;
		border-width:1vw;
		border-color:black;
		border-style:solid;

		transition:0.2s;
		cursor:pointer;
		background-repeat:no-repeat;
		transition-timing-function: ease-in-out;

	}



	.web_preview:hover{
		background-size:109%;
		filter:brightness(0.5);

	}

	#desc2 {

	}

	#travel {
		background-image:url("img/web/banner1.jpg");
	}

/*#travel:hover {
	background-image:url("img/web/banner2.jpg");

	}*/

	#eye {
		background-image:url("img/web/banner3.jpg");
	}

/*#eye:hover {
	background-image:url("img/web/banner4.jpg");
	}*/

	#daytrip {
		background-image:url("img/web/banner5.jpg");
	}

/*#daytrip:hover {
	background-image:url("img/web/banner6.jpg");
	}*/



	#cv {
		background-image:url("img/cv1.png");
	}

	#cv:hover {
		background-image:url("img/cv2.png");
	}

	#insta {
		background-image:url("img/insta1.png");
	}

	#insta:hover {
		background-image:url("img/insta2.png");
	}

	#yt {
		background-image:url("img/yt1.png");
	}

	#yt:hover {
		background-image:url("img/yt2.png");
	}

	#email {
		background-image:url("img/email1.png");
	}

	#email:hover {
		background-image:url("img/email2.png");
	}



	.video {
		margin-top:0vw;
		margin-bottom:1vw;
		width:100%;
		height:25vw;
		border-radius:40px 40px 40px 40px;
		border-color:white;
		overflow:hidden;
	}

	.description {
		text-align:left;
		padding-left:2vw;
		padding-right:2vw;
		width:80%;
		margin:auto;
	}



	.description h3 {
		font-size:30px;
		line-height:0px;
		font-weight:600;
		color:white;
	}

	.bigp {
		font-size:15px;
		border-radius:0px;
		color:white;
		font-weight:300;

	}

	.line {
		height:10px;
		background-color:#baccd6;
		width:100%;
		margin-top:30px;
	}


	.row {
		display: flex;
		flex-wrap: wrap;
		padding: 5px 10px;

	}

	.column {
		flex: 48%;
		max-width: 48%;
		padding: 0 4px;
	}

	.columnW {
		flex: 30%;
		max-width: 30%;
		padding: 0 4px;
	}

	.columnD {
		flex: 66%;
		max-width: 66%;
		padding: 0 4px;
	}

	.web_icon {
		width:100%;
		margin-left:2vw;
		margin-top:0px

	}

	.row2 {
		display: flex;
		flex-wrap: wrap;
		padding: 5px 10px;
		border-radius:40px;
		background-color:#101820FF;
	}

	.row2 p{
		color:white;
	}

	.row2 h3 {
		color:white;
	}

	.row2:hover{
		background-color:#333333;
		transition:0.2s;
		cursor:pointer;
		color:black;
		transition-timing-function: ease-in-out;
	}

	.column2 {
		flex: 23%;
		max-width: 23%;
		padding: 0 4px;
	}

	.column3 {
		flex: 30%;
		max-width: 33%;
		padding: 0 4px;
	}



	.wrap {
		width: 95%;
		height: 45vw;
		padding: 0;
		overflow: hidden;
		margin:auto;
	}

	.column img {
		margin-top: 8px;
		vertical-align: middle;
		width: 100%;
		cursor:pointer;
		transition:0.2s;
		border-radius:10px;

	}

	.IMG_border{
		border-style:solid;
		border-color:white;
		border-width:8px;
		border-radius:10px;
	}

	.column2 img {
		margin-top: 8px;
		vertical-align: middle;
		width: 100%;
		cursor:pointer;
		transition:0.2s;

	}

	.column3 img {
		margin-top: 8px;
		vertical-align: middle;
		width: 70%;
		cursor:pointer;
		transition:0.2s;

	}

	.column2 img:hover {
		opacity:0.5;
	}

	.column img:hover {
		opacity:0.5;
	}

	#feature {
		width:80%;
		height:80%;
		position:fixed;
		top:0;
		left:0;
		margin-left:9vw;
		margin-top:10vh;
		background-image:url("img/static/pres2.png");
		background-size:contain;
		background-repeat:no-repeat;
		background-position:center;
		display:none;
		animation:1s;
		box-shadow: 0px 0px 0px 10px rgba(255,255,255,0.9);
		background-color: rgba(255, 255, 255, 0.9);
		border-radius:2px 30px 2px 2px;
	}

	#feature img {
		width:50px;
		float:right;
		cursor:pointer;
		position:relative;
	}

	#featureStats {
		width:100%;
		background-color:rgba(0, 0, 0, 0.5);
		bottom:0;
		position:absolute;
		border-radius:0px 0px 2px 2px;
		opacity:0;
		transition:0.2s;
	}

	#featureStats p {
		padding-right:20px;
		text-align:right;
		color:white;
		font-weight:lighter;
	}

	#feature_darken{
		position:fixed;
		opacity:0.8;
		background-color:black;
		width:100%;
		height:100%;
		top:0;
		left:0;
		display:none;
	}

	#cross:hover {
		filter:brightness(0.7);
	}

	#cross {
		transition:0.2s;
	}

	.smallp {
		font-size:15px;
		color:white;
		font-weight:300;
	}


	body {
		padding:0;
		margin:0;
		font-family: 'Open Sans', sans-serif;
		background:white;
		height:100%;
		background-repeat:no-repeat;
		background-attachment:fixed;

	}


	/*RESPONSIVE ADJUSTMENTS*/


	@media screen and (max-width: 980px) {
		.column {
			flex: 48%;
			max-width: 48%;
		}
	}

	@media screen and (max-width: 950px){
		.contentBox {
			width:70%;
		}

		.video {
			height:38vw;
		}

		.web_preview{
			height:13vw;
		}

				#pp_parent{


	padding:20px;
	width:90%;

}


	}



	@media screen and (max-width: 800px) {

h1 {
	font-size:42px;
}

.title{
	height:45px;
}



	.row2 {

		padding-bottom:20px;
		padding-top:10px;
		margin:auto;
		border-radius:20px;
	}

.contentBoxH {
	width:90%;
	margin:auto;
	padding-top:1vw;
	text-align:center;
	display:block;
	margin-top:0vw;

}

#pp_parent{


	padding:20px;
	width:80%;
	margin:auto;
	border-radius:20px;

}

		#menu{
			height:80px;
		}

		.contentBox {
			width:85%;

		}

		#video_bg{

				border-radius:20px 20px 20px 20px;
	            padding-bottom:1vw;
	            margin-top:2vw;
	            margin-bottom:5vw;
	            width:80%;
		}

	


		#web_bg{
			background:none;


	width:80%;

		}



		.bigp {
			font-size:12px;

		}

		.description h3 {
			font-size:20px;
		}

		.description {

			padding-left:4vw;
			padding-right:4vw;
		}

		.smallp {
			font-size:12px;
		}



		#aboutMe {
			height:45px;
		}


		#meP {
			width:620px;
			padding-top:70px;
		}
		#face {
			height:320px;
			margin-top:-50px;
		}

		#pp {
			width:580px;
			font-size:11px;
			padding-left:0px;
		}
		.short {
			display:inline;
		}
		.long {
			display:none;
		}

		#content{
			margin-right:0px;
		}

		.video {
			height:38vw;
			border-radius:15px;

		}

		.web_preview{
			height:15vw;
		}

		.IMG_border{
			border-width:6px;
		}


	}

    @media screen and (max-width:750px){

			.video {
			height:38vw;
			border-radius:15px;
			margin-top:7vw;
		}

	}

	@media screen and (max-width:600px){

		.column {
			flex: 100%;
			max-width: 100%;
		}

		.IMG_border{
			border-width:0px;
		}

		.column2 {
			flex: 48%;
			max-width: 48%;
		}

		#meP {
			width:100%;
			margin-bottom:20px;
		}
		#pp {
			width:100%;
			font-size:15px;
			margin-left:0px;

		}

		#face {
			float:none;
			height:400px;
			margin:auto;
			margin-top:-100px;

		}

		#home_bg{
/*			background:#edf2fa;
			border-style:solid;
			border-color:#edf2fa;
			border-width:40px;*/
		}
		.web_preview{
			height:30vw;
			background-size:150vw;
			background-position:right;
		}

		.web_preview:hover{
			filter:brightness(0.5);
			background-size:150vw;
			background-position:right;

		}



		.IMG_border{

			border-width:0px;

		}

		.column2 {
			flex: 45%;
			max-width: 45%;
		}

			.columnW {
		flex: 100%;
		max-width: 100%;
		padding: 0 4px;
		margin:auto;
	}

	.web_icon {
		width:60%;
	}

	.columnD {
		flex: 100%;
		max-width: 100%;
		padding: 0 4px;
	}

/*	.web_preview{
		height:65vw;
		width:70%;
		border-radius:0px;
		background-color:#89c48b;
		background-size:110%;
		border-width:1vw;
		}*/

/*	.web_preview:hover{

	}

	#travel {
		background-image:url("img/web/trvl.jpg");
	}

	#travel:hover {
		background-image:url("img/web/trvl2.jpg");
	}

	#eye {
		background-image:url("img/web/ep.jpg");
	}

	#eye:hover {
		background-image:url("img/web/ep2.jpg");
	}

	#daytrip {
		background-image:url("img/web/dt.png");
	}

	#daytrip:hover {
		background-image:url("img/web/dt2.jpg");
		}*/

		h1{
			font-size:32px;
		}

		#menu h1{
			margin-top: 10px;
		}
		.title h1{
			margin-top:0px;
		}

	}




